:root{
    /* цвета */
    --main-background: cyan;
    --color1: BD007B;
    --color2: 4B126C;

    /* типографика */
    --logo_font: 48px 57px 300 italic Savoye LET;

    --main-text: 36px 43px bold normal Rubik;

    --sub-text: 14px 17px normal normal Rubik;
  
}
